@import 'sanitize.css';
@import 'icons.css';

:where(:root) {
  tab-size: 2;
}

html {
  --code-font: 13px/18px 'Noto Sans Mono', monospace;
  --active: #ffcf00;
  --error: #e24834;
  --pre: rgba(127, 127, 127, 0.1);
  --border: rgba(127, 127, 127, 0.5);
}

html:not([data-theme='dark']) {
  --bg: #fff;
  --fg-on: #000;
  --fg: #555;
  --pre-dim: #777;
  --pre-val: #870;
}

html[data-theme='dark'] {
  color-scheme: dark;
  --bg: #191919;
  --fg-on: #ddd;
  --fg: #aaa;
  --pre-dim: #999;
  --pre-val: #cb8;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme='light']) {
    color-scheme: dark;
    --bg: #191919;
    --fg-on: #ddd;
    --fg: #aaa;
    --pre-dim: #999;
    --pre-val: #cb8;
  }
}

body {
  font: 16px/20px sans-serif;
  background: var(--bg);
  color: var(--fg);
}

html,
body,
#app {
  height: 100%;
}

a {
  color: inherit;
}

.hljs-comment,
.hljs-keyword,
.hljs-literal {
  color: var(--pre-dim);
}

.hljs-regexp,
.hljs-string,
.hljs-number,
.hljs-tag {
  color: var(--pre-val);
}

.color-bold {
  font-weight: bold;
  color: var(--fg-on);
}
.bg-red {
  background: #e24834;
}
.color-red {
  color: #e24834;
}
.bg-yellow {
  background: #f2d42d;
}
.color-yellow {
  color: #f2d42d;
}
.color-green {
  color: #58a549;
}
.color-black {
  color: #000;
}
.color-white {
  color: #fff;
}
.color-dim {
  color: #777;
}
.color-magenta {
  color: #8e69c9;
}
